@page
@model ModuleManager.Pages.Templates.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Template</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Template.Name" class="control-label"></label>
                <input asp-for="Template.Name" class="form-control" />
                <span asp-validation-for="Template.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Template.ContentType" class="control-label">Content Type</label>
                <select asp-for="Template.ContentType" asp-items="Html.GetEnumSelectList<ContentType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Template.ContentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
