@page
@model ModuleManager.Pages.Templates.EditModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    #builder button[type='submit']{
        pointer-events:none;
    }
</style>


<h4>Edit Template</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Template.TemplateId" />
            <div class="form-group">
                <label asp-for="Template.Name" class="control-label"></label>
                <input asp-for="Template.Name" class="form-control" />
                <span asp-validation-for="Template.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Template.Details" />
                <span asp-validation-for="Template.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
</div>
<div class="row">    
    <div class="col-md-12">
            <div id="builder"></div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>
<script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>

    <script type='text/javascript'>
        function updateDetails(data){
            $("#Template_Details").val(JSON.stringify(data))
        }

      window.onload = function() {
        let dbdata=@Html.Raw(Model.Template.Details) ||{};
        let builder=Formio.builder(document.getElementById('builder'), dbdata, {
            builder:{
            }
        })
          .then((builder)=>{
            $("submit").prop("disabled",true);  
            //$('.formcomponents').removeClass("col-md-2");
            //$('.formarea').removeClass("col-md-10");
            //$('.formcomponents').addClass("col-md-3");
            //$('.formarea').addClass("col-md-9");
            builder.on('saveComponent', function(e) {
                updateDetails(builder.schema);
            });       
            builder.on('addComponent', function(e) {
                updateDetails(builder.schema);
            });       
            builder.on('removeComponent', function(e) {
                updateDetails(builder.schema);
            });    
            builder.on('updateComponent', function(e) {
                updateDetails(builder.schema);
            });
          });
      };
    </script>
}
