@page
@model ModuleManager.Pages.Assessments.CreateModel

@{
    ViewData["Title"] = "Create";
}



<h4>Component</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Component.Name" class="control-label"></label>
                <input asp-for="Component.Name" class="form-control" />
                <span asp-validation-for="Component.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ModuleId" class="control-label">Referenced Module</label>
                @Html.DropDownListFor(m => m.Component.ModuleId, Model.Modules,"Select a Module",
                    new {
                      @class = "form-control selectpicker",
                      data_width = "auto",
                      data_live_search = "true",
                    //data_show_subtext = "true",
                })
                <span asp-validation-for="Component.ModuleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.TemplateId" class="control-label">Source Template</label>
                @Html.DropDownListFor(m => m.Component.TemplateId, Model.Templates,"Select a Template",
                    new {
                      @class = "form-control selectpicker",
                      data_width = "auto",
                      data_live_search = "true",
                    //data_show_subtext = "true",
                })
                <span asp-validation-for="Component.TemplateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
