@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4 text-center">The Cycle: Learning and Assessment Design Manager</h1>
    <p>Recommended workflow:
        <ol>
            <li>(administrator) Create templates to define:
                <ul>
                    <li>learning modules: identify the purpose and version of a learning module</li>
                    <li>module components: describe the contents or definition of the required elements of a learning module. Each distinct type of component should have a different template.</li>
                    <li>assessments: identify the purpose, structure, and functional logic of an assessment</li>
                    <li>media assets: describe the content and location (e.g., URI) of a media asset</li>
                    <li>review checklists: identify the design process stage gate, quality criteria, and corresponding review checklist items</li>
                    <li>business processes: identify a design process or workflow in terms of the templates that must be completed, and the business requirements (budget, resources, etc.) for development of the elements implied by each of the selected templates</li>
                </ul>
            </li>
            <li>Complete module-specific workflows:
                <ol>
                    <li>(manager) create a module by completing a module template</li>
                    <li>(manager) create a process tracker by completing a business process template for the module</li>
                    <li>(designer) open a module definition </li>
                    <li>(designer) review the requirements in the process tracker </li>
                    <li>(designer) complete each of the templates required by the process tracker </li>
                    <li>(designer) complete each of the template-specific fields in the process tracker </li>
                    <li>(designer) submit elements as they are completed for review </li>
                    <li>(manager) complete the review checklists as required</li>
                    <li>(manager + designer) review the summary report of the process tracking object and checklist results</li>
                    <li>(manager) approve or reject submitted elements</li>
                    <li>(manager) export module definition and report for supporting module development</li>
                </ol>
            </li>
        </ol>
    </p>
</div>

