@page
@model ModuleManager.Pages.Modules.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Module</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Module.Name" class="control-label"></label>
                <input asp-for="Module.Name" class="form-control" />
                <span asp-validation-for="Module.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Module.TemplateId" class="control-label">Source Template</label>
                @Html.DropDownListFor(m => m.Module.TemplateId, Model.Templates,"Select a Module Template",
                    new {
                      @class = "form-control selectpicker",
                      data_width = "auto",
                      data_live_search = "true",
                    //data_show_subtext = "true",
                })
                <span asp-validation-for="Module.ProcessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Module.ProcessId" class="control-label">Workflow Process Template</label>
                @Html.DropDownListFor(m => m.Module.ProcessId, Model.Processes,"Select a Process Template",
                    new {
                      @class = "form-control selectpicker",
                      data_width = "auto",
                      data_live_search = "true",
                    //data_show_subtext = "true",
                })
                <span asp-validation-for="Module.ProcessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
