@page
@model ModuleManager.Pages.Modules.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>



<h4>Module</h4>
<hr />
<div class="row">
    <div class="flex-container">
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Module.ModuleId" />
            <div class="form-group">
                <label asp-for="Module.Name" class="control-label"></label>
                <input asp-for="Module.Name" class="form-control" />
                <span asp-validation-for="Module.Name" class="text-danger"></span>
            </div>
            <div class="accordion">
            <p class="h3">Module Details</p>
            <div class="form-group">
                <label asp-for="Module.Details" class="control-label"></label>
                <div id='formiod'></div>
                <input asp-for="Module.Details" class="hidden" />
                <span asp-validation-for="Module.Details" class="text-danger"></span>
            </div>
            <p class="h3">Process Planning and Management</p>
            <div class="form-group">
                <label asp-for="Module.BusinessDetails" class="control-label"></label>
                <div id='formiobd'></div>
                <input asp-for="Module.BusinessDetails" class="hidden" />
                <span asp-validation-for="Module.BusinessDetails" class="text-danger"></span>
            </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script src='https://unpkg.com/formiojs@4.14.0/dist/formio.full.min.js'></script>
    @*<script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>*@
    <script type='text/javascript'>
      window.onload = function() {
        Formio.createForm(document.getElementById('formiod'), @Html.Raw(Model.Template)).then((form) => {
          let modeldata=JSON.parse('@Html.Raw(Model.Module.Details)'||'{}');
          form.submission = {
            data:  modeldata
          };
          // Register for the submit event to get the completed submission.
          form.on('submit', function(submission) {
              $("#Module_Details").val(JSON.stringify(submission));
          });
  
          // Everytime the form changes, this will fire.
          form.on('change', function(changed) {
              $("#Module_Details").val(JSON.stringify(submission));
          });
        });
        Formio.createForm(document.getElementById('formiobd'), @Html.Raw(Model.Template)).then((form) => {
          let modeldata=JSON.parse('@Html.Raw(Model.Module.BusinessDetails)'||'{}');
          form.submission = {
            data:  modeldata
          };
          // Register for the submit event to get the completed submission.
          form.on('submit', function(submission) {
              $("#Module_BusinessDetails").val(JSON.stringify(submission));
          });
  
          // Everytime the form changes, this will fire.
          form.on('change', function(changed) {
              $("#Module_BusinessDetails").val(JSON.stringify(submission));
          });
        });
      }
    </script>
}